# =========================
# Server configuration
# =========================
PORT=3000
NODE_ENV=production # development, production, test

# =========================
# Database (PostgreSQL)
# =========================
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=skillswap

# =========================
# Security / Password hashing
# =========================
HASH_SALT=10

# =========================
# JWT configuration
# =========================
JWT_ACCESS_SECRET=your_access_secret
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_SECRET=your_refresh_secret
JWT_REFRESH_EXPIRES_IN=7d

FRONTEND_URL=http://localhost:8080

# =========================
# Admin bootstrap credentials
# =========================
ADMIN_EMAIL=admin@test.com
ADMIN_PASSWORD=admin123

# =========================
# File upload configuration
# =========================
UPLOAD_PATH=public/uploads # test/uploads
UPLOAD_MAX_FILE_SIZE=2097152 # 2MB

# =========================
# Yandex Oauth
# =========================
YANDEX_CLIENT_ID=351ea739147f4290b21cf3e8a558d6d4
YANDEX_CLIENT_SECRET=28a53b615bfc4f688af41c43ac27468d
YANDEX_REDIRECT_URI=http://localhost:3000/auth/yandex/callback